@value headerGapT: calc(8 * var(--lh));
@value headerGapB: calc(4 * var(--lh));
@value containerGapT: calc(4 * var(--lh));
@value mainGapT: calc(3 * var(--lh));
@value mainGapB: 20em;
@value pagePaddingT: containerGapT;
@value pagePaddingR: inherit;
@value pagePaddingB: inherit;
@value pagePaddingL: inherit;
@value columnGap: var(--column-gap);

.container{
    max-width: 1400px;
    margin: auto;
    padding-top: pagePaddingT;
    padding-bottom: pagePaddingB;
    padding-right: pagePaddingR;
    padding-left: pagePaddingL;
}

.mainContainer{
    display: flex;
    flex-direction: row;
}

.header{
    text-align: center;
}

.header :global(.sidebar-toggle-button){
    position: fixed;
    z-index: 99999999;
}

.footer{
    margin-top: containerGapT;
    /*position: absolute;*/
    /*bottom: var(--lh);*/

    /*width: 80%;*/
    /*max-width: 1400px;*/
}


.footer{
    display: flex;
    align-items: flex-start;
}

.footer :global(.footer-content-container){
    width: 60%;
}

.footer :global(.footer-logos-container){
    display: flex;
    flex-direction: column;
    width: 20%;
    transform: scale(0.5);
    transform-origin: top left;
}

.footer :global(.footer-logos-container)>*{
    margin-bottom: 10px;
}

.banner{
    z-index: 9999;
    padding: headerGapT 0 headerGapB 0;
    top: calc(calc(-1 * headerGapT) + containerGapT);
}

.container main{
    padding-right: calc(2 * columnGap);
}

.container main .content{
    padding-top: mainGapT;
    padding-bottom: mainGapB;
}

.col_1_4{
    width: 20%;
}

.col_2_4{
    width: 60%;
}

.searchInput{
    position: sticky;
    top: calc(containerGapT + mainGapT - calc(3 *  var(--lh)));
}

.searchInput input{
    width: 100%;
}

.container p{
    text-align: justify;
}

.container nav > ul{
    padding-left: 0;
    padding-top: 0;
    margin: 0;
}

.container :global(pre){
    margin: var(--lh) 0 !important;
    padding-top: calc(var(--lh) / 2) !important;
    padding-bottom: calc(var(--lh) / 2) !important;
}

.container nav ul, .container nav li{
    list-style: none;
}


/*SIDEBAR*/
.sidebarWrapper,
.footer :global(.footer-logos-container){
    padding-right: calc(2 * columnGap) !important;
}

.sidebarWrapper,
.tocWrapper{
    padding-top: calc(mainGapT - var(--lh));
    z-index: 0;
}
.sidebar,
.toc{
    position: sticky;
    top: calc(pagePaddingT - calc(mainGapT - var(--lh)) - 9px);
    padding-top: calc(mainGapT - 10px);
    z-index: 0;
}

.sidebar:global(.hide) nav{
    display: none;
}

.sidebarDefault{
}

.sidebarNarrow{
    display: none;
}

.sidebar :global(.sidebar-close-icon){
    display: none;
}

.toc{
}

.toc ul{
    border-left: 1px solid;
    padding-left: calc(2 * columnGap) !important;
}

.toc :global(.h-1){
    margin-top: calc(2 * var(--lh));
}
.toc :global(.h-2){
    margin-top: var(--lh);
}

.toc :global(.h-3){
    padding-left: columnGap;
}
.toc :global(.h-4){
    padding-left: calc(2 * columnGap);
}

.container :global(.logos-ascii-wrapper){
    position: relative;
}
.container :global(.logos-ascii){
    overflow: hidden;
}

.container :global(.logos-ascii) p{
    white-space: pre;
}

.container :global(.logos-paragraph){
    /*white-space: break-spaces;*/
    column-gap: var(--column-gap);
    /*text-indent: var(--column-gap);*/
}

.container :global(.logos-paragraph.x){
    column-count: 1;
}
.container :global(.logos-paragraph.xx){
    column-count: 2;
}
.container :global(.logos-paragraph.xxx){
    column-count: 3;
}
.container :global(.logos-paragraph.xxxx){
    column-count: 4;
}

.container p{
    margin-top: 0;
    padding-top: 0;
}

.container .content >*{
    margin: 0;
}

.container .content > *{
    margin-bottom: var(--lh);
}

.container .content > h1,
.container .content > h2{
    margin-bottom: calc(2 * var(--lh));
}

.container :global(.dialog-container) :global(.dialog-container-innerwrapper){
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container :global(.dialog-container) :global(.close-icon){
    position: fixed;
    top: pagePaddingT;
    left: pagePaddingL;
}

.container :global(img){
    width: 100%;
}

.container :global(.menuitem-title){
    text-transform: capitalize;
}

.searchBox ul{
    margin: 0;
    padding: 0;
}

.searchBox :global(.logos-search-box-results){
    border: 1px solid;
    padding: var(--lh) columnGap;
    position: absolute;
    z-index: 9999;
    background: var(--bg-color);
}

.container a:global(.anchor){
    display: block;
    position: relative;
    top: calc(-1 * calc(6 *  var(--lh)));
}

.container a:global(.ha){
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

@media (max-width:600px) {
    @value pagePaddingT: calc(2 * var(--lh));
    @value pagePaddingR: var(--column-gap);
    @value pagePaddingB: calc(2 * var(--lh));
    @value pagePaddingL: var(--column-gap);

    @value headerGapT: calc(2 * var(--lh));

    .sidebarDefault{
        display: none;
    }

    .sidebarWrapper{
        position: fixed;
    }

    .sidebarNarrow{
        display: block;
    }

    .searchInput.withOpenSidebar{
        z-index: -1;
    }


    .searchInput{
        position: sticky;
        top: calc(containerGapT + mainGapT - calc(6 *  var(--lh)));
    }

    .tocWrapper{
        display: none;
    }

    .container :global(.sidebar-toggle-button){
        left: calc(2 * pagePaddingL);
        top: calc(containerGapT + mainGapT - calc(4 *  var(--lh)));
    }

    .container main{
        padding-right: 0;
    }

    .sidebar nav{
        position: fixed;
        background: var(--bg-color);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: calc(pagePaddingT + headerGapT);
        padding-bottom: pagePaddingB;
        padding-right: pagePaddingR;
        padding-left: pagePaddingL;
    }

    .sidebar :global(.sidebar-toggle-button){
        z-index: 999999999;
    }

    .col_1_4, .col_2_4{
        width: 100%;
    }

    .container :global(.logos-paragraph.x),
    .container :global(.logos-paragraph.xx),
    .container :global(.logos-paragraph.xxx),
    .container :global(.logos-paragraph.xxxx){
        column-count: 1;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
    }

    .footer :global(.footer-content-container){
        width: 100%;
    }

    .footer :global(.footer-logos-container){
        flex-direction: row;
    }

    .footer :global(.footer-logos-container) > *{
        margin-right: 20px;
        margin-bottom: 0;
    }

}