@value headerGapT: 300px;
@value headerGapB: 4em;
@value containerGapT: 2em;
@value mainGapT: 3em;
@value mainGapB: 20em;
@value pagePaddingT: containerGapT;
@value pagePaddingR: inherit;
@value pagePaddingB: inherit;
@value pagePaddingL: inherit;

.container{
    max-width: 1200px;
    margin: auto;
    padding-top: pagePaddingT;
    padding-bottom: pagePaddingB;
    padding-right: pagePaddingR;
    padding-left: pagePaddingL;
}

.mainContainer{
    display: flex;
    flex-direction: row;
}

.header{
    text-align: center;
}

.header :global(.sidebar-toggle-button){
    position: fixed;
}

.banner{
    z-index: 9999;
    padding-bottom: headerGapB;
    padding-top: headerGapT;
    top: calc(calc(-1 * headerGapT) + containerGapT);
}

.container main .content{
    padding-top: mainGapT;
    padding-bottom: mainGapB;
}

.col_1_4{
    width: 20%;
}

.col_2_4{
    width: 60%;
}

.searchInput{
    position: sticky;
    top: containerGapT;
}

.searchInput input{
    width: 100%;
}

.container p{
    text-align: justify;
}

.container nav > ul{
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
}

.container ul, .container li{
    list-style: none;
}

/*SIDEBAR*/
.sidebarWrapper{
    padding-top: calc(mainGapT - 1em);
}
.sidebar{
    position: sticky;
    top: calc(headerGapB + 3em);
    padding-top: mainGapT;
}

.sidebar:global(.hide) nav{
    display: none;
}

.sidebarDefault{
}

.sidebarNarrow{
    display: none;
}

.sidebar :global(.sidebar-close-icon){
    display: none;
}

.container :global(.logos-diagram-wrapper){
    position: relative;
}
.container :global(.logos-diagram){
    overflow: hidden;
}

.container :global(.logos-diagram) p{
    white-space: pre;
}

.container :global(.logos-paragraph) p{
    white-space: break-spaces;
}
.container :global(.logos-paragraph.x) p{
    column-count: 1;
}
.container :global(.logos-paragraph.xx) p{
    column-count: 2;
}
.container :global(.logos-paragraph.xxx) p{
    column-count: 3;
}
.container :global(.logos-paragraph.xxxx) p{
    column-count: 4;
}

.container p{
    margin-top: 0;
    padding-top: 0;
}

.container :global(.dialog-container) :global(.dialog-container-innerwrapper){
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container :global(.dialog-container) :global(.close-icon){
    position: fixed;
    top: pagePaddingT;
    left: pagePaddingL;
}

.container :global(img){
    width: 100%;
}

@media (max-width:600px) {
    @value pagePaddingT: 6em;
    @value pagePaddingR: 4em;
    @value pagePaddingB: 3em;
    @value pagePaddingL: 4em;

    @value headerGapT: 100px;
    @value headerGapB: 4em;

    .sidebarDefault{
        display: none;
    }

    .sidebarWrapper{
        position: fixed;
    }

    .sidebarNarrow{
        display: block;
    }

    .searchInput.withOpenSidebar{
        z-index: -1;
    }

    .sidebar :global(.sidebar-close-icon){
        display: block;
        position: fixed;
        top: pagePaddingT;
        transform: translate(9px, 10px);
    }


    .sidebar nav{
        position: fixed;
        background: var(--bg-color);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: calc(pagePaddingT + headerGapT);
        padding-bottom: pagePaddingB;
        padding-right: pagePaddingR;
        padding-left: pagePaddingL;
    }

    .sidebar :global(.sidebar-toggle-button){
        z-index: 999999999;
    }

    .col_1_4, .col_2_4{
        width: 100%;
    }


    .container :global(.logos-paragraph.x) p,
    .container :global(.logos-paragraph.xx) p,
    .container :global(.logos-paragraph.xxx) p,
    .container :global(.logos-paragraph.xxxx) p{
        column-count: 1;
    }
}