.container{
    grid-area: header;
    padding: 0 var(--column-gap) !important;
}

.container :global(.logo-holder){
    display: none !important;
}

.searchBox{
    /*width: calc(100% - calc(var(--column-gap) * 2));*/
}

.container :global(.logo-holder){
    width: 25px;
    overflow: hidden;
}

.container :global(.logo-holder) svg{
    width: 100%;
}

@media (min-width:600px){

    .innerWrapper{
        max-width: var(--max-width);
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: calc(var(--column-gap) * 2);
        align-items: center;
    }

    .searchBox{
        grid-column: 2/5;
        max-width: calc(700px - var(--column-gap));
    }

    .container :global(.logo-holder){
        display: block !important;
        transform: translateY(4px);
    }
}