.header{
    position: fixed;
    background: var(--hlm-color);
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99999;
}

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "banner" "search" "main" "footer";
    padding-top: var(--page-padding-top);
    position: relative;
}

.sidebar, .toc{
    font-size: 12px;
}

.sidebar :global(.close-icon){
    top: var(--column-gap) !important;
    right: var(--column-gap) !important;
    left: unset !important;
}

.sidebar :global(.sidebar-toggle-button){
    position: fixed;
    right: var(--column-gap) !important;
    left: unset !important;
    top: var(--column-gap);
    z-index: 9999999999;
}

.sidebar > :global(.logo-holder){
    display: none !important;
}

.sidebar :global(.logo-holder){
    padding: var(--column-gap);
    left: var(--column-gap);
    position: absolute;
}

@media (min-width:600px) {
    .container{
        --page-padding-top: calc(5 * var(--lh));
        padding-top: 0;
    }

    .container > *{
        padding-top: var(--page-padding-top);
    }

    .content{
        padding-top: calc(var(--page-padding-top) / 2.5);
    }

    .sidebar{
    }

    .sidebar, .toc{
        top: calc(var(--page-padding-top) / 2);
        padding-top: calc(var(--page-padding-top) / 2);
    }

    .main article{
        padding-left: var(--column-gap);
    }
}