.container{
    grid-area: footer;
    margin-top: calc(4 * var(--lh));
}

.content{
    border-top: 1px dashed;
    padding-top: var(--lh)
}

.container .socialMedia{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

@media (min-width:600px) {
    .container{
        text-align: center;
    }
    .bottomPart{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    }

    .container .socialMedia{
        gap: 5px;
        justify-content: flex-start;
    }

    .container .socialMedia a svg{
        height: 15px;
        width: 20px;
        overflow: hidden;
        transform: translateY(5px);
    }
}