@value vars: "../../styles/vars.css";
@value pagePaddingT, maxWidth from vars;

.container{
    grid-area: sidebar;
    font-size: 12px;
}

.container nav{
    padding: pagePaddingT var(--column-gap);
}

.container .mobile :global(.close-icon){
    position: fixed;
    top: var(--column-gap);
    right: var(--column-gap);
}

.container .mobile :global(.logo-holder){
    padding: var(--column-gap);
    left: var(--column-gap);
    position: absolute;
}

.desktop{
    display: none;
}

.container :global(.sidebar-toggle-button){
    position: fixed;
    right: var(--column-gap);
    top: var(--column-gap);
    z-index: 9999999999;
}


@media (min-width:600px) {
    .desktop{
        display: block;
    }
    .mobile{
        display: none !important;
    }

    .container nav{
        padding: 0;
    }

    .container :global(.sidebar-toggle-button){
        position: fixed;
        left: max(calc(calc(100vw - maxWidth) / 2), var(--column-gap));
    }

    .container :global(.subMenu .menuitem-title *),
    .container :global(.external_links ul *){
        color: var(--hla-color) !important;
    }

    .container :global(.subMenu > .level-0 > .menuitem-title *){
        color: var(--txt-color) !important;
    }

}