.header{
    position: fixed;
    background: var(--hlm-color);
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99999;
}

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "banner" "search" "main" "footer";
    padding-top: var(--page-padding-top);
    position: relative;
}

.sidebar, .toc{
    font-size: 12px;
}

.sidebar :global(.close-icon){
    top: var(--column-gap) !important;
    right: var(--column-gap) !important;
    left: unset !important;
}

.sidebar :global(.sidebar-toggle-button){
    position: fixed;
    right: var(--column-gap) !important;
    left: unset !important;
    top: var(--column-gap);
    z-index: 9999999999;
    padding: 5px;
}

.sidebar > :global(.logo-holder){
    display: none !important;
}

.sidebar :global(.logo-holder){
    padding: var(--column-gap);
    left: var(--column-gap);
    position: absolute;
}

.container table{
    border-collapse:collapse;
    border: none;
}

.container input{
    border: none !important;
}

.container figure {
    margin: 0;
}

@media (min-width:600px) {

    .container{
        --page-padding-top: calc(5 * var(--lh));
        padding-top: 0;
    }

    .container > *{
        padding-top: var(--page-padding-top);
    }

    .content{
        padding-top: calc(var(--page-padding-top) / 2.5);
    }

    .sidebar, .toc{
        top: calc(var(--page-padding-top) / 2);
        padding-top: calc(var(--page-padding-top) / 2);
        overflow-y: hidden !important;
    }

    .sidebar nav, .toc nav{
        padding-bottom: var(--page-padding-top);
        height: calc(100vh - calc(var(--page-padding-top) * 1));
        overflow-y: auto !important;
    }

    .sidebar :global(.sidebar-toggle-button){
        display: block;
        position: absolute;
        top: calc(var(--page-padding-top) / 2);
        left: 0 !important;
        width: 30px;
        margin-top: -2px;
    }
}