:root{
    --bg-color: var(--dark-background-color);
    --txt-color: var(--dark-text-color);
    --hl-color: var(--dark-highlight-color);
    --ff: var(--fontFamily);
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{

}

body{
    background: var(--bg-color);
    color: var(--txt-color);
    font-family: var(--ff);
}

body.light{
    --bg-color: var(--light-background-color);
    --txt-color: var(--light-text-color);
    --hl-color: var(--light-highlight-color);
}

a, a:visited, a:hover{
    color: var(--hl-color);
}

svg, svg *{
    fill: var(--txt-color);
}

input[type="text"]{
    background: var(--bg-color);
    color: var(--txt-color);
    padding: 0.5em;
    border: 1px solid;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--txt-color);
    opacity: 1;
}

.button{
    cursor: pointer;
}

nav a,
nav a:visited,
nav a:hover{
    text-decoration: none;
    color: var(--txt-color) !important;
    text-transform: capitalize;
}

.default-sidebar .sidebar-menu > li.level-0{
    margin-bottom: 1em;
}

.default-sidebar .sidebar-menu > li.level-0  > .menuitem-title{
    margin-bottom: 1em;
}

/*this part should be coming from the content but for now for sake of the look*/
h1,h2,h3,h4,h5,h6{
    font-size: inherit !important;
    /*font-weight: normal;*/
}

pre{
    overflow-x: auto;
}